* {
    margin: 0;
    padding: 0;
}

#etchContainer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 80%;
    height: 480px;
    margin: auto;
}

#etchContainer > div {
    width: 5.55%;
    flex-grow: 1;
}

div {
    background-color: lightblue;
    border: 1px solid white;
}

.sketched {
    background-color: red;
}